
<form [formGroup]="regForm">
  <input [(ngModel)]="article.title" formControlName="title"  type="text" placeholder="Заголовок">
  <input [(ngModel)]="article.author" formControlName="author"  type="text" placeholder="Автор">
  <input [(ngModel)]="article.section" formControlName="section"  type="text" placeholder="Раздел">
  <input [(ngModel)]="article.tag" formControlName="tag"  type="text" placeholder="Теги">
  <ckeditor [editor]="Editor"
            formControlName="article"
            [(ngModel)]="article.article"
            [config]="CKEconfig"
            ></ckeditor>
  <button type ="button" *ngIf="article.id"  (click)="updateArticle()" class="btn btn-primary">Сохранить</button>
  <button type ="button" *ngIf="!article.id"   (click)="createArticle()" class="btn btn-primary">СохранитьС</button>
</form>

